body{
    background-color: #eeeeee;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0px 3px 5px lightgray;
    padding: 20px;
    background-color: white;
}

main{
    padding-top: 100px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow:  0px -3px 5px lightgray;
    background-color: white;
}

input{
    border-width: 0;
    font-size: 18px;
    font-style: italic;
    color: black;
}

.status{
    padding: 10px;
    background-color: #DCDCDC;
    margin: 2px 0;
}

.mensagem{
    padding: 10px;
    background-color: white;
    margin: 2px 0;
}

.private{
    padding: 10px;
    background-color: #FFDEDE;
    margin: 2px 0;

}